/* 悬浮图标的基础样式 */
body {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

/* Ball Icon Styles */
#icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.icon.default {
  background-image: url("../assets/icon.png");
  background-size: cover;
}

.icon.running {
  background: linear-gradient(45deg, #28a745, #85e0a1);
  animation: rotate 2s linear infinite;
}

.icon.failure {
  background-color: #dc3545;
  animation: shake-fail 0.5s infinite;
}

.icon.completed {
  background-color: #ffc107;
  animation: bounce-complete 1s infinite;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake-fail {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px);
  }
  50% {
    transform: translate(5px);
  }
  75% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes bounce-complete {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
